<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Obsidian</string>
    <key>CFBundleDisplayName</key>
    <string>Obsidian</string>
    <key>CFBundleIdentifier</key>
    <string>com.user.Obsidian</string>
    <key>CFBundleExecutable</key>
    <string>Obsidian</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
