snippet esldln "eslint-disable-line"
// eslint-disable-line ${1}
endsnippet

snippet esldnl "eslint-disable-line"
// eslint-disable-next-line ${1}
endsnippet

snippet esldis "eslint disable file"
/* eslint-disable */
endsnippet

snippet esldf "eslint disable file"
/* eslint-disable */
endsnippet

snippet esldb "eslint-disable block"
/* eslint-disable */
/* eslint-enable */
endsnippet
