snippet esldnl "eslint-disable-next-line"
// eslint-disable-next-line ${1}
endsnippet

snippet esldln "eslint-disable-line"
// eslint-disable-line ${1}
endsnippet

snippet esldbl "eslint-disable block"
/* eslint-disable */
/* eslint-enable */
endsnippet
