<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>51332C6A-C838-4EC2-A964-CE76D71BD3D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nxp</string>
			<key>text</key>
			<string>nixpackages</string>
			<key>url</key>
			<string>https://search.nixos.org/packages?channel=24.05&amp;from=0&amp;size=50&amp;sort=relevance&amp;type=packages&amp;query={query}</string>
		</dict>
	</dict>
</dict>
</plist>
