# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: deepseek
# model: openai:gpt-4o-mini

stream: false                 # Controls whether to use the stream-style API.
save: false                   # Indicates whether to persist the message
keybindings: vi               # Choose keybinding style (emacs, vi)

clients:
  - type: openai

  - type: openai-compatible
    name: deepseek
    patch:
      chat_completions:
        '.*':
          url: https://api.deepseek.com/chat/completions

  - type: gemini
    api_base: https://generativelanguage.googleapis.com/v1beta
    patch:
      chat_completions:
        '.*':
          body:
            safetySettings:
              - category: HARM_CATEGORY_HARASSMENT
                threshold: BLOCK_NONE
              - category: HARM_CATEGORY_HATE_SPEECH
                threshold: BLOCK_NONE
              - category: HARM_CATEGORY_SEXUALLY_EXPLICIT
                threshold: BLOCK_NONE
              - category: HARM_CATEGORY_DANGEROUS_CONTENT
                threshold: BLOCK_NONE
